@model ECocktails.Domain.DomainModels.Cocktail

@{
    ViewData["Title"] = "Cocktail details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.PictureUrl" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Bar: </b>
                            <a asp-controller="Bars" asp-action="Index" asp-route-id="@Model.BarId">
                                @Model.Bar.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Barman: </b>
                            <a asp-controller="Barmans" asp-action="Details" asp-route-id="@Model.BarmanId">
                                @Model.Barman.FullName
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Glass: </b>
                            <img class="border-info rounded-circle" src="@Model.Glass.PictureUrl" alt="@Model.Glass.Id" style="max-width: 150px" />
                        </p>
                        <p class="card-text"><b>Date Created: </b>@Model.DateCreated.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if ((DateTime.Now - Model.DateCreated).TotalDays < 7)
                            {
                                <span class="badge bg-danger text-white">NEW</span>
                            }
                            else
                            {
                                <span class="badge bg-warning text-white">OLD</span>
                            }
                        </p>
                        <p class="card-text">
                            <b>Ingredients: </b>
                            <hr />
                            <div class="row">
                                @foreach (var ingredient in Model.Ingredients_Cocktails)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" src="@ingredient.Ingredient.PictureUrl" style="width: 160px; height: 200px;" />
                                        <br />
                                        <a asp-controller="Ingredients" asp-action="Details" asp-route-id="@ingredient.IngredientId">@ingredient.Ingredient.Name</a>
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>